<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="USTED.Properties.Settings.NNEC_PROConnectionString"
            connectionString="Data Source=172.21.10.230;Initial Catalog=NNEC;Persist Security Info=True;User ID=DBMANAGER;Password=Db@ITUSAP"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>